In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("../data/car-sales-extended-missing-data.csv")

In [3]:
data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [5]:
data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV

np.random.seed(42)

data.dropna(subset = ["Price"], inplace=True)

categorical = ["Make", "Colour"]

categorical_transformer = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy="constant", fill_value= "missing")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

door_feature = ["Doors"]

door_transformer = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy= "constant", fill_value = 4))
])

numeric = ["Odometer (KM)"]
numeric_transformer= Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="mean"))
])

prepro = ColumnTransformer(
                            transformers= [
                                ("cat", categorical_transformer, categorical), 
                                ("door", door_transformer, door_feature),
                                ("numb", numeric_transformer, numeric)
                            ])

In [18]:
model = Pipeline(steps = [("preprocessor", prepro),
                          ("model", RandomForestRegressor())])

X = data.drop("Price", axis = 1)
y = data["Price"]

np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

model.fit(X_train, y_train)
model.score(X_test, y_test)

0.22188417408787875

In [20]:
data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64